doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./email.css
    body 
        h2 Restablecer Contraseña
        h4 sino puedes entrar con el link "Intenta con este enlace": #{restUrL}
        p Solicitastes restablecer tu contraseña da click en el enlace "El enlace es temporal si se vence pida de nuevo".
        a(href=`${restUrL}`) click para restablcer contraseña